*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #121212;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 50px;
    font-size: 1.5rem;

}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover{
    color: #8bff81;
}

.intro{
    margin-left: 8%;
    margin-top: 15%;
}

.intro h1{
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

.intro p{
    margin-top: 10px;
    font-size: 1.5rem;
    color: #adadad;
    line-height: 22px;
}

.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 75%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .oc{
    left: 45%;
}